{% extends 'base.html' %}
{% load staticfiles %}
{% load displaypage %}
{% block title %}办公用品出库表{% endblock %}

{% block css %}

    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

{% endblock %}

{% block content %}
    {% is_leader request.session.user_name as display %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            办公用品出库表

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">办公用品出库明细表</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">办公用品出库明细表</h3>


                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="assets_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>办公用品名称</th>
                                <th>数量</th>
                                <th>领用人</th>
                                <th>部门</th>
                                <th>创建人</th>
                                <th>出库人</th>
                                <th>状态</th>
                                <th>时间</th>
                                {% if display %}
                                    <th>操作</th>
                                {% else %}
                                    {% if case != 2%}
                                    <th>驳回出库</th>
                                    <th>确认出库</th>
                                    {% endif %}
                                {% endif %}


                            </tr>
                            </thead>
                            <tbody>

                            {% for ex_warehouse in ex_warehouses %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="text-green text-bold">{{ ex_warehouse.article }}</td>
                                    <td class="text-green text-bold">{{ ex_warehouse.ex_warehouse_num }}</td>


                                    <td class="text-green text-bold">{{ ex_warehouse.requisition }}</td>
                                    <td class="text-green text-bold">{{ ex_warehouse.department }}</td>
                                    <td class="text-green text-bold">{{ ex_warehouse.creator }}</td>
                                    <td class="text-green text-bold">{{ ex_warehouse.validator }}</td>
                                    <td class="text-green text-bold">
                                        {% if ex_warehouse.status == 1 %}开单出库{% elif ex_warehouse.status == 2 %}出库成功{% elif ex_warehouse.status == 3 %}驳回开单{% else %}未知状态{% endif %}</td>

                                    <td class="text-green text-bold">{{ ex_warehouse.ex_warehouse_date }}</td>

                                    {% if leader %}


                                        <td><a href="{% url 'register:add_ex_warehouse' %}" title="添加"><i
                                                class="glyphicon glyphicon-plus"></i></a>
                                            <a href="{% url 'register:edit_ex_warehouse' ex_warehouse.id %}" title="修改"><i
                                                    class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="{% url 'register:del_ex_warehouse' ex_warehouse.id %}"
                                               onclick="return delete_data()" title="删除"><i
                                                    class="glyphicon glyphicon-trash text-danger"></i></a>


                                        </td>
                                    {% else %}

                                        {% if case != 2 %}

                                        <td>
                                            <a href="{% url 'register:reject_ex_warehouse' ex_warehouse.id %}"
                                               title="驳回出库"><i
                                                    class="glyphicon glyphicon-subscript"></i></a>

                                        </td>
                                        <td>
                                            <a href="{% url 'register:confirm_ex_warehouse' ex_warehouse.id %}"
                                               title="确认出库"><i
                                                    class="glyphicon glyphicon-subscript"></i></a>

                                        </td>
                                            {% endif %}

                                    {% endif %}
                                </tr>

                            {% empty %}

                                <tr>{% if to_be_processed is True %}没有待办理事项！{% else %}没有数据！{% endif %}
                                    {% if display %}{% if to_be_processed is False %}
                                        <a href="{% url "register:add_ex_warehouse" %}">点击出库信息</a>{% endif %}{% endif %}
                                </tr> </tr>

                            {% endfor %}


                            </tbody>
                            <tfoot>
                            <tr>
                                <th>序号</th>
                                <th>办公用品名称</th>
                                <th>数量</th>
                                <th>领用人</th>
                                <th>部门</th>
                                <th>创建人</th>
                                <th>出库人</th>
                                <th>状态</th>
                                <th>时间</th>
                                {% if display %}
                                    <th>操作</th>
                                {% else %}
                                    {% if case != 2%}
                                    <th>驳回出库</th>
                                    <th>确认出库</th>
                                    {% endif %}
                                {% endif %}

                            </tr>
                            </tfoot>
                        </table>


                    </div>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->

        </div>

        <!-- /.row -->

        <span color="red" style="color: red;font-size: 16px"> {{ message }}</span>


{#        {% if display %}#}
{#            {% if to_be_processed is False %}#}
{#                <form action="{% url 'register:import_ex_warehouse' %}" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    <input type="file" name="my_file"/>#}
{##}
{#                    <button type="submit">批量导入出库单</button>#}
{##}
{#                </form>#}
{#            {% endif %}#}
{#        {% endif %}#}

    </section>

{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>

    <!-- DataTable buttons -->
    <script src="{% static  'plugins/datatables/button/dataTables.buttons.min.js' %}"></script>
    <script src="{% static  'plugins/datatables/button/buttons.bootstrap.min.js' %}"></script>
    <!-- buttons 打印功能 -->
    <script src="{% static  'plugins/datatables/button/buttons.print.min.js' %}"></script>
    <!-- buttons 导出功能 -->
    <script src="{% static  'plugins/datatables/button/buttons.html5.min.js' %}"></script>

    <!--jszip.min.js为3.多的版本 无法使用excel 所以重新下载了2.多的 就可以正常使用导出excel -->
    {#    <script src="{% static  'plugins/datatables/button/jszip.min.js' %}"></script>#}
    <script src="{% static  'plugins/datatables/button/jszip.js' %}"></script>
    <!-- buttons 生成PDF功能 -->
    {#    <script src="{% static  'plugins/datatables/button/pdfmake.min.js'%}"></script>#}
    {#    <script src="{% static  'plugins/datatables/button/vfs_fonts.js'%}"></script>#}

    <!-- page script -->
    <script>
        $(function () {
            $('#assets_table').DataTable({
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                language: {
                    'sSearch': "搜索",
                    "info": "显示 _START_ 到 _END_ 页共 _TOTAL_ 条",
                    "infoEmpty": "显示 0 到 0 页共 0 条",
                    "lengthMenu": "显示 _MENU_ 条",
                    "zeroRecords": "没有匹配项",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "下页",
                        "previous": "上页"
                    },
                },
                dom: '<"pull-left"B>ft<"pull-left"i>p',
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-copy" title="复制"></i>',
                        extend: 'copy'
                    }, {
                        text: '<i class="glyphicon glyphicon-print" title="打印"></i>',
                        extend: 'print'
                    }, {
                        text: '<i class="glyphicon glyphicon-list-alt" title="导出excel"></i>',
                        extend: 'excelHtml5'
                    },
                ],


                {#"stripeClasses": [ 'strip1', 'strip2', 'strip3' ],#}
                {#columnDefs: [#}
                {#  {#}
                {#        targets: -1,#}
                {#visible: false,#}
                {#        sortable: false,#}
                {#data : null,#}
                {#        render: function(data, type, row){#}
                {#            return '<a href="" title="详情">' +#}
                {#            '<i class="glyphicon glyphicon-eye-open"></i> ' +#}
                {#            '</a>'+#}
                {#            '<a href="/assets/edit/" data-toggle="modal" data-id="' + row.p_id +'" title="修改">' +#}
                {#            '<i class="glyphicon glyphicon-pencil"></i> ' +#}
                {#            '</a>'+#}
                {#            '<a href="#delProject" data-toggle="modal" data-id="' + row.p_id +'" title="删除">' +#}
                {#            '<i class="glyphicon glyphicon-trash text-danger"></i> ' +#}
                {#            '</a>';#}
                {#        }#}
                {#    }#}
                {#],#}


            });
            $.fn.dataTable.ext.buttons.reload = {
                text: '<i class="glyphicon glyphicon-refresh"></i>',
                action: function (e, dt, node, config) {
                    dt.ajax.reload();
                }
            };


        });

    </script>
{% endblock %}